.textToolsPage {
    padding-top: 2rem;
    gap: 1.5rem;
}

.donationContainer {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.donateButton {
    text-decoration: none;
    box-shadow: var(--shadowElevation_1);
    background-color: var(--color-accent-00);
    color: var(--bg-color-00);
    border: 1px solid var(--bg-color-50);
    border-radius: var(--border-radius);
    padding: .4rem .8rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: var(--shadowElevation_1);
        background-color: var(--color-accent-10);
        color: var(--bg-color-00);
    }
}

@media (max-width: 850px) {
    .donationContainer {
        font-size: medium;
    }

    .textToolsPage h1 {
        font-size: xx-large;
    }
}

@media (max-width: 600px) {
    .textToolsPage h1 {
        font-size: x-large;
    }
}

@media (max-width: 400px) {
    .textToolsPage h1 {
        font-size: large;
    }
}